<span class="sr-only">Navigation:</span>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Bootstrap
  </a>
<div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav">
  {% assign pages = site.pages %}

  {% for document in site.documents %}
    {% assign pages = pages | push: document %}
  {% endfor %}

  {% assign subpages = pages | where: "menu", false | sort: "order" %}
  {% assign pages = pages | where: "menu", true | sort: "order" %}
  {% assign count = 0%}
  {% for node in pages %}
  {% assign count = count | plus: 1 %}
    <li class="nav-item active">
      <a id="list-item-{{ count }}" class="nav-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}
       {% if node.submenu %}<label class="folder" for="list-item-{{ count }}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">▾</label>{% endif %}
      </a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
       {% for subnode in subpages %}
           {% if subnode.category == node.slug %}
               <a class="dropdown-item{% if page.url == subnode.url %} active{% endif %}" href="{{ subnode.url | relative_url }}">{{ subnode.title }}</a>
           {% endif %}
         {% endfor %}
     </div>
    </li>

  {% endfor %}
</div>
</ul>
</nav>