{% assign post = include.post %}
{% assign format = include.format | default:"%d %b %Y" %}

<article id="{{ post.id | slice: 1,9999 }}" class="post{% if include.link_title %} mb6{% endif %}" role="article">
  <header>
    <h1 class="post-title">
      {% if include.link_title %}<a href="{{ post.url | relative_url }}" data-flip="title">{% endif %}
        {{ post.title }}
      {% if include.link_title %}</a>{% endif %}
    </h1>

    <p class="post-meta heading text-muted">
      <span class="date mr-2"><i class="far fa-clock"></i> <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time></span>
      <i class="far fa-folder-open"></i> {% include post-meta.html tags=post.categories meta=site.featured_categories separator=" / " %}
    </p>

  {% include message.html text=post.description %}
  </header>
  {% for tag_slug in post.tags %}
    {% unless tag.cover-img %}
      {% assign tag = site.featured_tags | where: "slug", tag_slug | first %}
    {% endunless %}
  {% endfor %}

  {% unless include.excerpt %}

{% if post.cover-img %}<img class="img-fluid mb-4" src="{{ post.cover-img }}" alt="{{ post.title }}">
{% elsif tag.cover-img %}
<img class="img-fluid mb-4" src="{{ tag.cover-img }}" alt="{{ post.title }}">
{% endif %}
    {{ post.content }}
    <p class="post-meta text-muted">
    <i class="far fa-bookmark"></i> {% include post-meta.html tags=post.tags meta=site.featured_tags separator=", " %}
    </p>
    {% else %}
    {{ post.excerpt }}
    <p class="read-more"><a class="heading" href="{{ post.url | relative_url }}" data-flip="title">Continue reading </a></p>
{% endunless %}

</article>
{% unless include.link_title %}

  <div class="share d-flex justify-content-end">
      <h5 class="mr-2">Share this post:</h5>
        <a class="text-decoration-none mr-2" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="fab fa-twitter fa-lg"></i>
        </a>
        <a class="text-decoration-none" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="fab fa-facebook-square fa-lg"></i>
        </a>
  </div>
{% endunless %}
 